textarea {
  margin-top: 5px;
    border: 1 solid black;
    overflow: hidden;
    padding: 0;
    outline: none;
    background-color: #D0D0D0;
    resize: none;
    width: 10%;
    display: block;
}

input {
  width: 10%;
  margin-top: 5px;
  display: block;
}

#hint {
  width: 30%;
  background-color: lightgreen;
  text-align: center;
}

#passH{
  width: 30%;
  background-color: lightgreen;
  text-align: center;
}
